<div id="<%= dom_id board %>">
  <p>
    <strong>Kit:</strong>
    <%= board.kit %>
  </p>

  <p>
    <strong>Switches:</strong>
    <%= board.switches %>
  </p>

  <p>
    <strong>Stabilizers:</strong>
    <%= board.stabilizers %>
  </p>

  <p>
    <strong>Keycaps:</strong>
    <%= board.keycaps %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= board.price %>
  </p>

</div>
