
<div class="boards-display" id="<%= dom_id board %>">
  <%if board.image.present?%>
    <%=image_tag board.image, height:500%>
  <%else%>
    <%=image_tag board.image_path, height:500%>
  <%end%>
</div>
<div class="boards-display-info">
  <h1><b><%=board.kit%></b> | <%=board.keycaps%></h1>
  <p>$<%=board.price%></p>
</div>
