<header class="header">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="header-items text-center text-light">
              <h1 class="fw-bolder">Shop Keebo Now!</h1>
              <a href="/boards/#sell" class="btn text-uppercase fw-bold shadow mt-2 pt-2 pb-2 text-decoration-none">Shop</a>
          </div>
      </div>
  </div>
</header>
<div class="banner" id="banner">
  <div class="p-5">
    <div class="lubing-picture-1">
      <%=image_tag("lubing1.jpg", width: 400)%>
      <div class="lubing-picture-2">
        <%=image_tag("lubing2.jpg", width: 300)%>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="text-end">
      <h1>Switch lubing services coming soon!</h1>
    </div>
  </div>
</div>
<%= paginate @boards %>
<div class="boards-container" id="sell">
  <div class="boards">
    <div class="sort">
      <h1><%=link_to "All", "/boards/#sell"%></h1>
      <h1><%=link_to "New", "/boards?sort=new/#sell"%></h1>
      <p>You visited <%=pluralize @visit_count, 'time'%></p>
      <%=form_tag(boards_path, method: :get) do%>
        <%=select_tag "layout", options_for_select(@layouts.map{|layout| [layout.name, layout.id]}.insert(0,"All"))%>
        <%=text_field_tag(:search, params[:search])%>
        <%=submit_tag("Search")%>
      <%end%>
    </div>
    <div class="boards-listing">
      <% @boards.each do |board| %>
        <a href="/boards/<%=board.id%>">
          <%= render board %>
        </a>
      <% end %>
    </div>
  </div>
</div>
